.filmCard {
    width: 300px;
    margin: 10px;

    h4 {
        height: 58px;
    }

    .imgContainer {
        z-index: 0;
        height: 450px;
    }
}



.logo {
    img {
        width: 170px;
    }
}

#root {
    min-height: 100vh;
    background-color: black;
}

.info {
    z-index: 1;
    top: 0;
    display: none;
}

.filmCard:hover {
    .imgContainer::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .info {
        display: block;
    }
}