.filmCard {
    width: 300px;
    margin: 10px;

    h4 {
        height: 58px;
    }

    .imgContainer {
        height: 450px;
    }
}

.logo {
    img {
        width: 170px;
    }
}

#root {
    min-height: 100vh;
    background-color: black;
}